{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Book</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../css/linearicons.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/main.css">

    <style>
        .toggleDiv{
            height: auto;
            opacity: inherit;
        }
        .toggleDivClose{
            height: 0;
            opacity: 0;
        }
    </style>
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img height="35px" src="/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/home">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="/films/favorite/{{ app.user.id }}">Favorites</a></li>
                        <li><a href="/films/lists">My list</a></li>
                        <li><a href="/editProfile/{{ app.user.id }}">Profile</a></li>
                        <a> <img id="logout"><a href="{{ path('app_logout') }}" style="color: white;">logout</a></a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="/admin" class="login-panel"><i class="fa fa-user"></i> Admin Pannel</a>
                        {% endif %}

                    {% else %}
                        <a> <img id="logout"><a href="{{ path('app_login') }}" style="color: white;">login</a></a>
                        <a> <img id="logout"><a href="{{ path('app_register') }}"
                                                style="color: white;">Inscription</a></a>
                    {% endif %}

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<section class="section-gap info-area" id="about">
    <input type="hidden" id="idF" value="{{ idF }}">
    <input type="hidden" id="idU" value="{{ app.user.id }}">
    <div class="container">
        <div class="single-info row mt-40 align-items-center">
            <div class="col-lg-6 col-md-12 text-center no-padding info-left">
                <div class="info-thumb">


                    <img src="{{ asset (src) }}" class="img-fluid info-img" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    {#{ dump (movie) }#}
                    <div class="d-flex justify-content-between">
                        <h2 class="pb-30">{{ movie.title|default('Name of the film') }} </h2>
                        {% if favorite == 'true' %}
                        <i data-id="{{ movie.id }}" style="font-size: 24px" class="text-warning fas fa-star __favorite"></i><!--étoile pour favoris-->
                        {% else %}
                        <i data-id="{{ movie.id }}" style="font-size: 24px" class="text-warning far fa-star __favorite"></i>
                        {% endif %}
                    </div>

                    <div ><h4 style="display: inline-block ">Actors :  </h4>
                        {% for actor in actors %}
                            {{ actor.name|default('actor_name') }} ,
                        {% endfor %}
                        <br>
                    </div>
                    <div ><h4 style="display: inline-block ">Release Date :  </h4> {{ movie.release_date|default('Release Date') }}</div>
                    <div ><h4 style="display: inline-block ">Genres :  </h4>
                        {% if movie.genres is defined %}
                            {% for genre in movie.genres %}
                                {{ genre.name|default('Genre_n') }} ,
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div ><h4 style="display: inline-block ">Popularity :  </h4> {{ movie.popularity|default('Popularity') }}</div>
                    <h4>Description:</h4>
                    <p>
                        {{ movie.overview|default('Resume of the film') }}
                    </p>

                    <lable>Add to my list</lable>
                    <select name="list" id="listName">
                        <option selected="" disabled="disabled">Choose Among List</option>
                        {% for list in lists %}
                            <option value="{{ list.id }}">{{ list.name }}</option>
                        {% endfor %}


                    </select>

                    <br><br>

                    <div class="form-group">
                        <i id="plusIcon" style="font-size: 20px" class="fas fa-plus"> </i>
                        <span>Create a new list</span>
                    </div>

                    <div id="createAList" class="form-group toggleDivClose" >
                        <label class="form-label">Name of the list</label>
                        <input type="text" class="form-control mb-5 password" name="NewListName" id="NewListName"
                               value="">
                        <label class="form-label">Description</label>
                        <input type="testarea" class="form-control mb-5 password" name="NewListDesc" id="NewListDesc"
                               value="">
                        <p class="help-block text-danger passwordError">
                        </p>
                        <button  class="btn btn-success createListBtn __addList" >Confirm</button>
                        <button class="btn btn-warning"><a href="/home">Cancel</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        Top readers here.
                    </p>
                    <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                            <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="../js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../js/easing.min.js"></script>
<script src="../js/hoverIntent.js"></script>
<script src="../js/superfish.min.js"></script>
<script src="../js/jquery.ajaxchimp.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.sticky.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/waypoints.min.js"></script>
<script src="../js/jquery.counterup.min.js"></script>
<script src="../js/mail-script.js"></script>
<script src="../js/main.js"></script>
<script src="../js/global.js"></script>
</body>
</html>


{% endblock %}
